.gallery {
  max-width: 1440px;
  padding: 24px 156px 24px 156px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.044);
}

.sl-wrapper {
  background-color: rgb(46, 47, 66, 0.8);
}

.sl-counter,
.sl-prev,
.sl-next {
  color: #fff !important;
}

.sl-wrapper button.sl-close {
  height: 32px;
  width: 32px;
  color: #fff;
}
